<div class="objeto">
    <div class="objeto-imagem">
        <img src="{{Items.Imagem.url}}" alt="{{Items.Título}}">
    </div>
    <div class="objeto-informacao">
        <div class="objeto-cabecalho">
                <h3 class="objeto-titulo">{{Items.Título}}</h3>
                <p class="objeto-data">{{Items.Data|date:"d/m/Y"}}</p>
        </div>
        <div class="objeto-descrição">
            <p>{{Items.Descrição}}</p>
            <form id="formulario_{{ item.id }}" method="post" action="{% url 'administrativo:update_item' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="checkbox" name="Publicado" id="id_Publicado_{{ item.id }}" {% if item.Publicado %}checked{% endif %}>
                    <label for="id_Publicado_{{ item.id }}">Publicado</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="Devolvido" id="id_Devolvido_{{ item.id }}" {% if item.Devolvido %}checked{% endif %}>
                    <label for="id_Devolvido_{{ item.id }}">Devolvido</label>
                </div>
                <button type="submit" class="botao-enviar">Salvar</button>
            </form>
        </div>
    </div>
</div>
