{% extends 'global/base.html'%}

{% block title %} | Página inicial{% endblock title %}

{% block content %}
    <body>
        <main>
            <h2 class="topo-login">Oque deseja fazer?</h2>
            <section>
                <div class="display-menu-formulario">
                    <div class="botoes-home">
                        <div class="logo-menu">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <a class="texto-menu" href="objetos/">Ver lista de objetos</a>
                    </div>
                    <div class="botoes-home">
                        <div class="logo-menu">
                            <i class="fa-solid fa-person-circle-question"></i>
                        </div>
                        <a class="texto-menu" href="perdi-objeto/">Cadastrar que perdi meu objeto</a>
                    </div>
                    <div class="botoes-home">
                        <div class="logo-menu">
                            <i class="fa-solid fa-person-circle-plus"></i>
                        </div>
                        <a class="texto-menu" href="encontrei-objeto/">Cadastrar que encontrei um objeto</a>
                    </div>
            </section>
        </main>
    </body>
{% endblock content %}