{% extends 'global/base.html'%}

{% block title %} | Lista de itens{% endblock title %}

{% block content %}
    <h2 class="topo-login">Lista de itens</h2>

    {% comment %} <div>
        <a href="{% url 'ifinder/partials/lista_itens' %}?status=perdido">Itens Perdidos</a> |
        <a href="{% url 'ifinder/partials/lista_itens' %}?status=encontrado">Itens Encontrados</a> |
        <a href="{% url 'ifinder/partials/lista_itens' %}">Todos os Itens</a>
    </div> {% endcomment %}

    <div class="objetos-container">
        {% for Items in itens %}
            {% include "ifinder/partials/item.html" %}
        {% endfor %}
    </div>
{% endblock content %}