{% extends 'global/base.html'%}

{% block title %} | Lista de itens{% endblock title %}

{% block content %}
    <h2 class="topo-login">Lista de itens</h2>

    <div class="filtro">
        <select id="statusFilter" onchange="filterItems()">
            <option value="todos" {% if status == 'todos' %}selected{% endif %}>Todos</option>
            <option value="perdido" {% if status == 'perdido' %}selected{% endif %}>Perdidos</option>
            <option value="encontrado" {% if status == 'encontrado' %}selected{% endif %}>Encontrados</option>
        </select>
    </div>

    <div class="objetos-container">
        {% for Items in itens %}
            {% include "ifinder/partials/item.html" %}
        {% endfor %}
    </div>

    <nav class="pagination">
        {% if itens.has_previous %}
            <ul>
                <li class="page-item">
                    <a href="?status={{ status }}&p=1">&laquo;</a>
                </li>
            </ul>
            <ul>
                <li class="page-item"> 
                    <a href="?status={{ status }}&p={{ itens.previous_page_number }}">Anterior</a>
                </li>
            </ul>
        {% else  %}
            <ul>
                <li class="disabled">
                    <a href="#">&laquo;</a>
                </li>
            </ul>
            <ul>
                <li class="disabled"> 
                    <a href="#">Anterior</a>
                </li>
            </ul>
        {% endif %}
        <ul>
            <li class="page-item">
                <a href="">{{itens.number}}</a>
            </li>
        </ul>
        {% if itens.has_next %}
            <ul>
                <li class="page-item">
                    <a href="?status={{ status }}&p={{ itens.next_page_number }}">Próxima</a>
                </li>
            </ul>
            <ul>
                <li class="page-item">
                    <a href="?status={{ status }}&p={{ itens.paginator.num_pages }}">&raquo;</a>
                </li>
            </ul>
        {% else %}
            <ul>
                <li class="disabled">
                    <a href="">Próxima</a>
                </li>
            </ul>
            <ul>
                <li class="disabled">
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        {% endif %}
    </nav>

    <script>
        function filterItems() {
            var status = document.getElementById("statusFilter").value;
            window.location.href = "?status=" + status;
        }
    </script>

{% endblock content %}