{% extends 'global/base.html'%}

{% block title %} | Lista de itens{% endblock title %}

{% block content %}
    <h2 class="topo-login">Lista de itens</h2>

    <div class="filtro">
        <select id="statusFilter" onchange="filterItems()">
            <option value="todos" {% if status == 'todos' %}selected{% endif %}>Todos</option>
            <option value="perdido" {% if status == 'perdido' %}selected{% endif %}>Perdidos</option>
            <option value="encontrado" {% if status == 'encontrado' %}selected{% endif %}>Encontrados</option>
        </select>
    </div>

    <div class="objetos-container">
        {% for Items in itens %}
            {% include "ifinder/partials/item.html" %}
        {% endfor %}
    </div>

    <nav class="pagination">
        <ul>
            <li>
                <a href="#">Primeira</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Anterior</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">1</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Próxima</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Última</a>
            </li>
        </ul>
    </nav>

    <script>
        function filterItems() {
            var status = document.getElementById("statusFilter").value;
            window.location.href = "?status=" + status;
        }
    </script>

{% endblock content %}