{% extends 'global/base.html'%}

{% block title %} | Login{% endblock title %}
{% block content %}
    <h1 class="topo-login">Login</h1>
   <div class="display-menu-formulario"> 
        <form method="post" action="/">
            <div class="form-login">
                {% csrf_token %}
                {{ form }}
            </div>
            {% comment %} <div>
                <a class="password" href="#">Esqueceu a senha?</a>
            </div> {% endcomment %}
            <button class="botao-enviar">Login</button>
         
        </form>
    </div>

{% endblock content %}