{% extends 'global/base.html'%}

{% block title %} | Login{% endblock title %}
{% block content %}
    <h1 class="topo-login">Login</h1>
   <div class="display-menu-formulario"> 
        <form method="post" action="/">
            <div class="form-login">
                {% csrf_token %}
                {% for field in form %}
                <div class="input-login">
                    {{field.label_tag}}
                    {{field}}
                </div>
                {% endfor %}
            </div>
            <button class="botao-enviar">Login</button>
         
        </form>
    </div>

{% endblock content %}