{% extends 'global/base.html'%}

{% block title %} | Perdi meu item{% endblock title %}

{% block content %}
    
    <h2 class="topo-login">Perdi meu item</h2>

    <form action="">
        <fieldset class="display-menu-formulario" style="border: none;">
            <div class="menu-cadastrar">
                <label for="titulo">Nome</label> 
                <input type="text" id="titulo" required>
            </div>
            <div class="menu-cadastrar">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
            </div>
            <input class="botao-enviar" type="submit" value="Cadastrar">
        </fieldset>
    </form>

{% endblock content %}