{% extends 'global/base.html'%}

{% block title %} | Perdi meu item{% endblock title %}

{% block content %}
    
    <h2 class="topo-login">Perdi meu item</h2>

    {% comment %} <form action="">
        <fieldset class="display-menu-formulario" style="border: none;">
            <div class="menu-cadastrar">
                <label for="titulo">Nome</label> 
                <input type="text" id="titulo" required>
            </div>
            <div class="menu-cadastrar">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
            </div>
            <input class="botao-enviar" type="submit" value="Cadastrar">
        </fieldset>
    </form> {% endcomment %}
    <form id="formulario" method="post" action="">
        {% csrf_token %}
        {% for field in itens  %}
        <div class="menu-cadastrar">
            {{field.label_tag}}
            {{field}}
        </div>
        {% endfor %}
        <button id="botao_cadastrar" class="botao-enviar" type="submit">Cadastrar</button>
    </form>

    {% include "ifinder/partials/modal.html" %}

    <script>
        document.getElementById("formulario").addEventListener("submit", function(event) {
          event.preventDefault(); // Evita que o formulário seja enviado normalmente
          
          // Faz uma requisição AJAX para enviar o formulário
          var form = this;
          var formData = new FormData(form);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", form.action);
          xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
          xhr.onload = function() {
            if (xhr.status === 200) {
              // Exibe o modal após o envio bem-sucedido do formulário
              var modal = document.getElementById("myModal");
              modal.style.display = "block";
            }
          };
          xhr.send(formData);
        });
        </script>

{% endblock content %}