{% extends 'global/base.html'%}

{% block title %} | Encontrei um item{% endblock title %}

{% block content %}
    
    <h2 class="topo-login">Encontrei um item</h2>

    <div class="display-menu-formulario">
        <form id="formulario" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in itens  %}
            <div class="menu-cadastrar">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
            <button id="botao_cadastrar" class="botao-enviar" type="submit">Cadastrar</button>
        </form>
    </div>

    {% include "administrativo/partials/modal.html" %}

{% endblock content %}