{% extends 'global/base.html'%}
{% block title %} | Página inicial{% endblock title %}
{% block content %}
    <main>
        <h2 class="topo-login">Lista de itens</h2>

        <div class="filtro">
            <select id="statusFilter" onchange="filterItems()">
                <option value="todos" {% if status == 'todos' %}selected{% endif %}>Todos</option>
                <option value="perdido" {% if status == 'perdido' %}selected{% endif %}>Perdidos</option>
                <option value="encontrado" {% if status == 'encontrado' %}selected{% endif %}>Encontrados</option>
            </select>
        </div>
        <ul>
            {% for Items in itens %}
                <div class="objeto">
                    <div class="objeto-imagem">
                        <img src="{{Items.Imagem.url}}" alt="{{Items.Título}}">
                    </div>
                    <div class="objeto-informacao">
                        <div class="objeto-cabecalho">
                                <h3 class="objeto-titulo">{{Items.Título}}</h3>
                                <p class="objeto-data">{{Items.Data|date:"d/m/Y"}}</p>
                        </div>
                        <div class="objeto-descrição">
                            <p>{{Items.Descrição}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
        
    </main>
{% endblock content %}