{% extends 'global/base.html'%}
{% block title %} | Página inicial{% endblock title %}
{% block content %}
    <main>
        <h2 class="topo-login">Lista de itens</h2>

        <div class="filtro">
            <select id="statusFilter" onchange="filterItems()">
                <option value="Todos" {% if status == 'aprovados' and not publicado or status == 'perdidos' and not publicado %}selected{% endif %}>Pendentes para publicar</option>
                <option value="publicado" {% if status == 'publicado' %}selected{% endif %}>Publicados</option>
                <option value="devolvido" {% if status == 'devolvido' %}selected{% endif %}>Devolvidos</option>
            </select>
        </div>
        
        <div class="objetos-container">
                {% for Items in itens %}
                    {% include "administrativo/partials/item.html" %}
                {% endfor %}
        </div>

        
        <nav class="pagination">
            {% if itens.has_previous %}
                <ul>
                    <li class="page-item">
                        <a href="?status={{ status }}&p=1">&laquo;</a>
                    </li>
                </ul>
                <ul>
                    <li class="page-item"> 
                        <a href="?status={{ status }}&p={{ itens.previous_page_number }}">Anterior</a>
                    </li>
                </ul>
            {% else  %}
                <ul>
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                </ul>
                <ul>
                    <li class="disabled"> 
                        <a href="#">Anterior</a>
                    </li>
                </ul>
            {% endif %}
            <ul>
                <li class="page-item">
                    <a href="">{{itens.number}}</a>
                </li>
            </ul>
            {% if itens.has_next %}
                <ul>
                    <li class="page-item">
                        <a href="?status={{ status }}&p={{ itens.next_page_number }}">Próxima</a>
                    </li>
                </ul>
                <ul>
                    <li class="page-item">
                        <a href="?status={{ status }}&p={{ itens.paginator.num_pages }}">&raquo;</a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li class="disabled">
                        <a href="">Próxima</a>
                    </li>
                </ul>
                <ul>
                    <li class="disabled">
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    
        <script>
            function filterItems() {
                var status = document.getElementById("statusFilter").value;
                window.location.href = "?status=" + status;
            }
        </script>

        <script>
            document.querySelectorAll("form[id^='formulario_']").forEach(function(form) {
                form.addEventListener("submit", function(event) {
                    event.preventDefault();
            
                    var formData = new FormData(form); // Coleta os dados do formulário específico
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", form.action);
                    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            
                    xhr.onload = function() {
                        try {
                            var response = JSON.parse(xhr.responseText);
            
                            if (xhr.status === 200) {
                                if (response.success) {
                                    alert("Item atualizado com sucesso!");
                                } else if (response.errors) {
                                    alert("Erro: " + JSON.stringify(response.errors));
                                }
                            } else {
                                alert("Ocorreu um erro ao enviar o formulário.");
                            }
                        } catch (e) {
                            console.error("Erro ao processar a resposta do servidor:", e);
                            alert("Ocorreu um erro ao enviar o formulário. A resposta do servidor não é válida.");
                        }
                    };
            
                    xhr.onerror = function() {
                        alert("A requisição falhou. Por favor, tente novamente.");
                    };
            
                    xhr.send(formData); // Envia os dados do formulário específico via AJAX
                });
            });
            
        </script>

    </main>
{% endblock content %}