@media (max-width: 599px) {
    .topo-login {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    
    .botao-formulario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 26rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--menu-color-50);
        background: #FFF;
        margin-bottom: 1.5rem;
    }

    .botao-enviar{
        width: 26rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--botton-color-green);
        background: var(--botton-color-green);
        color: var(--background-color);
        margin-bottom: 1.5rem;
    }
    .display-menu .botoes-home {
        width: 26rem;
    }
    .menu-home a{
        color: var(--menu-color);
        text-align: center;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 0.3125rem;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .menu-cadastrar{
        display: flex;
        width: 26rem;
        flex-direction: column;
        align-items: center;
        background-color: var(--menu-color);
        color: var(--background-color);
        margin: 2.5rem 0 2.0rem 0;
        font-size: 1.5rem;
        border-radius: 0.5rem;
    }
    .menu-cadastrar input, textarea{
        width: 100%;
    }
}