:root {
    --background-color: rgb(246, 246, 246);
    --menu-color: rgb(41, 41, 41);
    --menu-color-50: rgba(41, 41, 41,0.50);
    --botton-color-green: rgb(37,162,90);
    --botton-color-red: rgb(174, 25, 25);
    --float-box: rgb(255, 255, 255);
    --text-header: rgb(238, 238, 238);
    --content-box: rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menu-color);
    color: var(--float-box);
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.top-sem-icon {
    display: flex;
    justify-content: center;
    background-color: var(--menu-color);
    color: var(--float-box);
    width: 100%;
    font-size: 1.25rem;
    font-style: bold;
    padding: 1rem 1.5rem;
}

.topo-login{
    display: flex;
    color: var(--botton-color-green);
    justify-content: center;
    text-align: center;
    margin: 6rem 1rem 0 1rem;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
}

.display-menu{
    display: flex;
    justify-content: space-around;
    min-width: 26rem;
    font-size: 1.2rem;
}

.display-menu-formulario {
    display: grid;
    justify-content: center;
    justify-items: center;
    min-width: 26rem;
    border: none;
    align-items: center;
    border-radius: 5px;
}

.display-menu-formulario .botoes-home {
    color: var(--menu-color);
    display: flex;
    flex-direction: row;
    margin: 1.3rem;
    padding: 0.8rem;
    width: 51.8rem;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.botoes-home:hover {
    transform: scale(1.05);
}

.logo-menu{
    font-size: 2.5rem;
    display: flex;
    width: auto;
    align-items: center;
}
.nav-menu-logout{
    display: flex;
    justify-content: right;
    font-size: 2.5rem;
}

.nav-menu-logout a {
    text-decoration: none;
    color: var(--float-box);
}

.nav-menu-home{
    display: flex;
    justify-content: left;
    font-size: 2.5rem;
}

.nav-menu-home a {
    text-decoration: none;
    color: var(--float-box);
}

.texto-menu {
    color: var(--menu-color);
    display: flex;
    padding: inherit;
}

.icon-login{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
}

.formulario{
    margin: 0 1rem;
    max-width: 19rem;
    font-size: 1.5rem;
    text-align: center;
    
}
.botao-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    width: 51.8rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--menu-color-50);
    background: #FFF;
    margin-bottom: 1.5rem;
}

.botao-enviar{
    width: 51.8rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--botton-color-green);
    background: var(--botton-color-green);
    color: var(--background-color);
    margin: 1.5rem 0;
    cursor: pointer;
}

.botao-enviar:hover{
    opacity: 0.8;
    background: var(--botton-color-green);
    color: var(--background-color);
}

.menu-cadastrar{
    display: flex;
    width: 65rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--menu-color);
    color: var(--background-color);
    margin: 2.5rem 0 2.0rem 0;
    font-size: 1.8rem;
    border-radius: 0.5rem;
}
.menu-cadastrar input, textarea{
    width: 100%;
}

.botao-enviar{
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--botton-color-green);
    color: #FFF;
    margin: 1.5rem 0;
    cursor: pointer;
    border: 0.2rem solid var(--botton-color-green);
}

.botao-enviar:hover{
    opacity: 0.8;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--bot0pxton-color-green);
    color: rgb(17, 17, 17);
    margin: 1.5rem 0;
    cursor: pointer;
    border: 0.2rem solid var(--botton-color-green);
}

.sair-IFinder{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-size: 2.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.forma-botao {
    color: white;
    padding: 1rem 4rem;
    margin: 2rem;
    border-radius: 2rem;    
    font-size: 1.5rem;
}

.button-voltar-menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.voltar-menu{
    background-color: green;
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.objetos-container{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
 
.objeto {
    color: var(--menu-color);
    background-color: #FFF;
    min-width: 25rem;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}
 
.objeto-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}
 
.objeto-titulo{
    width: 80%;
    padding: 0.5rem 0;
}
 
.data-icon{
    display: flex;
}
 
.objeto-descrição {
    padding: 0.5rem 1rem;
}

.objeto:hover {
    transform: scale(1.05);
}