    <div class="objeto">
        <div class="objeto-imagem">
            <img src="{{Items.Imagem.url}}" alt="{{Items.Título}}">
        </div>
        <div class="objeto-informacao">
            <div class="objeto-cabecalho">
                    <h3 class="objeto-titulo">{{Items.Título}}</h3>
                    <p class="objeto-data">{{Items.Data|date:"d/m/Y"}}</p>
            </div>
            <div class="objeto-descrição">
                <p>{{Items.Descrição}}</p>
            </div>
        </div>
    </div>