:root {
    --background-color: rgb(246, 246, 246);
    --menu-color: rgb(41, 41, 41);
    --menu-color-50: rgba(41, 41, 41,0.50);
    --botton-color-green: rgb(37,162,90);
    --botton-color-red: rgb(174, 25, 25);
    --float-box: rgb(255, 255, 255);
    --text-header: rgb(238, 238, 238);
    --content-box: rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
}

#header {
    display: flex;
    justify-content: center;
    background-color: var(--menu-color);
    color: var(--float-box);
    width: 100%;
    font-size: 1.25rem;
    font-style: bold;
    padding: 0.5rem 1.5rem;
}

#site-name a:link, #site-name a:visited {
    color: var(--text-header);
    font-size: 2rem;
    font-weight: bold;
}

#content h1 {
    color: var(--menu-color);
    font-size: 1.25rem;
}
